<% @advertising.each do |advertising| %>
	<div class="copy">
		<div class="copy-price">
			<h5 class="copy-title">
				<%= link_to advertising.title, advertising %>
			</h5>
		</div>
	</div>
<% end %>
