<% @advertisements.each do |advertisments| %>
	<div class="copy">
		<div class="copy-price">
			<h5 class="copy-title">
				<%= link_to advertisements.title, advertisements %>
			</h5>
		</div>
	</div>
<% end %>
